<% content_for :title do %>Consultation<% end %>
<h4>Consultation</h4>

<div class="img">
  <%= image_tag("water2.jpg",style: "height: 810px; width: 475px") %>
</div>

<p>To consult the ijing, please enter 'x' in the box.</p>

<%= form_for :choice, url: choices_path do |f| %>
  <p>
    <%= f.label :new_gua %>
    <%= f.text_field :new_gua %>
  </p>
   
  <p>
    <%= f.submit %>
  </p>
<% end %>